/* Variables */

:root {
  --primary: linear-gradient(90deg, #00FFE0 0%, #00B2FF 100%);
  --secondary: #929292;
}

/* Navbar */

nav {
  width: 95vw;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  transition: 0.3s;
  margin-top: 10px;
}

nav.open {
  height: 160px;
  transition: 0.3s;
}

nav .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  height: 70px;
  padding-inline: 30px;
}

nav .header {
  font-size: 2rem;
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

nav .hamburger {
  cursor: pointer;
}

nav .hamburger .line {
  display: block;
  width: 50px;
  height: 5px;
  background: var(--primary);
  border-radius: 100vw;
}

nav .hamburger .line:not(:first-child) {
  margin-top: 10px;
}

nav ul li a {
  color: var(--secondary);
}

ul.closed {
  display: none;
}

h1 {
  margin-top: 100px;
}

main {
  margin-left: 20px;
}